<header class="header">
  <span class="logo">BANCO</span>
</header>

<div class="container">
  <aside class="sidebar">
<nav class="nav">
  <a routerLink="/homoe" routerLinkActive="active">Home</a>
  <a routerLink="/clients" routerLinkActive="active">Clientes</a>
  <a routerLink="/accounts" routerLinkActive="active">Cuentas</a>
  <a routerLink="/movements" routerLinkActive="active">Movimientos</a>
  <a routerLink="/reports" routerLinkActive="active">Reportes</a>
</nav>
  </aside>

  <main class="content">
    <router-outlet></router-outlet>
  </main>
</div>